* {
  margin: 0px;
  padding: 10px;
  border: 2px solid red;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  gap: 10px;
}

