* {
  margin: 0px;
  padding: 5px;
  border: 5px solid rebeccapurple;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  gap: 10px;
}

.event-container,
.player-container,
.computer-container {
  padding-left: 0px;
}

